<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customize template</title>
  </head>
  <body>
    <div>{{. | safe}}</div>
    <img src="/static/images/golang.jpeg" width="80" height="80" />
  </body>
</html>