@charset "UTF-8";
/* CSS Document */

body
{
	background-color:#6A6A61;
	color:#DDDCC5;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-left:12px;
}

h2
{
	background-color:#958976;
	color:#1D2326;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	margin-left:0px;
	text-indent:1em;
}
