<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <link rel="stylesheet" href="css/default.css" type="text/css" />
    <link rel="stylesheet" href="css/shops.css" type="text/css" />
</head>

<body>

    <div id="shops">
        <h1>商店</h1>

        <div id="frontDesk">
            <ul class="shop_list"  v-for="(product,id) in products" class="product-row">
                <li class="product-picture">
                    <img :src="'images/'+product.picture" >
                </li>
                <li class="product-name">
                    <span>商品名称：</span>
                    {{ product.name }}
                </li>
                <li class="product-price">
                    <span>单价：</span>
                    {{ product.price }}
                </li>
                <li class="product-nums">
                    <inventory v-if="product.inventory">  
                        <span>库存：</span>
                        {{ product.inventory }} {{ product.unit }}
                    </inventory>
                    <inventory v-else>  
                        已售罄
                    </inventory>
                </li>
                <li class="product-del">
                    <button v-if="product.inventory" v-on:click="AddCart(id)" title='添加到购物车'>加入购物车</button>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>